/* RESET */
img{
    width: 100%;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* GENERAL */
.sixty_container{
    width: 60%;
    margin: auto;
    max-width: 1500px;
}
main section{
    padding: 50px 0;
}

/* Texts */
.title_and_star{
    text-align: center;
}
.white-text{
    color: white;
}
.dark-blue-text{
    color: #2c3e50;
}
.dark-gray-text{
    color:#333333;
}





/* HEADER */
header{
    background-color: #2c3e50;
    padding: 30px 0;
    color: white;
}
.header_title{
    font-size: 33px;
    font-weight: bold;
}
.header_menu{
    text-align: right;
}
.header_burger{
    text-align: right;
    font-size: 30px;
}
header li{
    display: inline-block;
    margin: 0 20px;
}
header li>a{
    text-decoration: none;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
}





/* MAIN */
.title_and_star i{
    font-size: 20px;
    display: inline-block;
}
.title_and_star.white-text .star::before,
.title_and_star.white-text .star::after{
    display: inline-block;
    content: "";
    height: 3px;
    width: 100px;
    background-color: white;
    border-radius: 20px;
    margin: 0 10px;
    vertical-align: 5px;
}
.title_and_star.dark-text .star::before,
.title_and_star.dark-text .star::after{
    display: inline-block;
    content: "";
    height: 3px;
    width: 100px;
    background-color: #314354;
    border-radius: 20px;
    margin: 0 10px;
    vertical-align: 5px;
}
.normal_section_title{
    font-size: 35px;
}


/* Jumbotron */
.jumbotron{
    background-color: #1abc9c;
    text-align: center;
}
.jumbotron_avatar{
    width: 300px;
    margin: auto;
}
.jumbotron .title_and_star h2{
    font-size: 50px;
    font-weight: 600;
}
.jumbotron_menu li{
    display: inline-block;
}
.jumbotron_menu a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

/* Portfolio */
.portfolio_image{
    margin: 15px 0;
    border-radius: 20px;
    overflow: hidden;
}

/* Aboout */
.about{
    background-color: #1abc9c;
}
.download_btn{
    text-align: center;
    margin-top: 10px;
}
.white_custom_btn{
    color: white;
    border-color: white;
}
.download_icon{
    margin-right: 10px;
}

/* Contact me */
.contact_me ul{
    margin: 20px 0;
}
.send_btn{
    margin-left: 30px;
    display: inline-block;
}
.input-box{
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 25px;
    font-weight: 600;
}
.input-box:focus{
    box-shadow: none;
}
.aqua-green-btn{
    color: white;
    background-color: #1abc9c;
    border-color: 1abc9c;
}



/* FOOTER */

/* Top footer */
.top_footer{
    background-color: #3a546d;
    padding: 30px;
}
.footer_info{
    margin-bottom: 20px;
    text-align: center;
}
.footer_info h2{
    font-size: 23px;
    font-weight: 400;
}
.footer_info .text_info{
    font-size: 18px;
    font-weight: 600;
}
.footer_social_btn{
    font-size: 20px;
    padding: 15px 15px;
    margin: 5px 10px;
    border: 1px solid white;
    border-radius: 50%;
}
.fa-facebook-f.footer_social_btn{
    padding: 15px 18px;
}
.fa-google-plus-g.footer_social_btn{
    padding: 15px 13px;
}
.aqua-green-text{
    color: #1cb89a;
}
/* Bottom_footer */
.bottom_footer{
    background-color: #2c3e50;
    padding: 30px;
    text-align: center;
}

